@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-Anton {
  font-family: "Anton", sans-serif;
}


.max-w {
  max-width: 1570px;
  padding-inline: 20px;
  margin-inline: auto;
}

.progress-ring__circle {
  stroke-dasharray: 400, 400;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(160deg);
  stroke: url("#20055f5c");
  transform-origin: 50% 50%;
}
