@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-ring__circle {
  stroke-dasharray: 400, 400;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(160deg);
  stroke: url("#20055f5c");
  transform-origin: 50% 50%;
}
